<div class="container">
<div>
<p id="title"><%= $req["events"][25]["name"]["text"] %></p>
<p><%= $req["events"][25]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][25]["start"]["local"] %></p>
<p><img src="<%= $req["events"][25]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][1]["name"]["text"] %></p>
<p><%= $req["events"][1]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][1]["start"]["local"] %></p>
<p><img src="<%= $req["events"][1]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][2]["name"]["text"] %></p>
<p><%= $req["events"][2]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][2]["start"]["local"] %></p>
<p><img src="<%= $req["events"][2]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][5]["name"]["text"] %></p>
<p><%= $req["events"][5]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][5]["start"]["local"] %></p>
<p><img src="<%= $req["events"][5]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][21]["name"]["text"] %></p>
<p><%= $req["events"][21]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][21]["start"]["local"] %></p>
<p><img src="<%= $req["events"][21]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][9]["name"]["text"] %></p>
<p><%= $req["events"][9]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][9]["start"]["local"] %></p>
<p><img src="<%= $req["events"][9]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][7]["name"]["text"] %></p>
<p><%= $req["events"][7]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][7]["start"]["local"] %></p>
<p><img src="<%= $req["events"][7]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][30]["name"]["text"] %></p>
<p><%= $req["events"][30]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][30]["start"]["local"] %></p>
<p><img src="<%= $req["events"][30]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][11]["name"]["text"] %></p>
<p><%= $req["events"][11]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][11]["start"]["local"] %></p>
<p><img src="<%= $req["events"][11]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][12]["name"]["text"] %></p>
<p><%= $req["events"][12]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][12]["start"]["local"] %></p>
<p><img src="<%= $req["events"][12]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][36]["name"]["text"] %></p>
<p><%= $req["events"][36]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][36]["start"]["local"] %></p>
<p><img src="<%= $req["events"][36]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][40]["name"]["text"] %></p>
<p><%= $req["events"][40]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][40]["start"]["local"] %></p>
<p><img src="<%= $req["events"][40]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][42]["name"]["text"] %></p>
<p><%= $req["events"][42]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][42]["start"]["local"] %></p>
<p><img src="<%= $req["events"][42]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][46]["name"]["text"] %></p>
<p><%= $req["events"][46]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][46]["start"]["local"] %></p>
<p><img src="<%= $req["events"][46]["logo"]["original"]["url"]%>"></p>
</div>

<div>
<p id="title"><%= $req["events"][45]["name"]["text"] %></p>
<p><%= $req["events"][45]["description"]["text"] %></p>
<p>Start Date: <%= $req["events"][45]["start"]["local"] %></p>
<p><img src="<%= $req["events"][45]["logo"]["original"]["url"]%>"></p>
</div>
</div>
